{% extends 'base_forms.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section">
    <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log in</legend>
                {{ form| crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success mr-1" type="submit">Log in</button>
                <button class="btn btn-danger mr-1" type="reset">Reset</button>
                <a href="{% url 'informations-home' %}">
                    <button type="button" class="btn btn-info">Go back to Informations</button>
                </a>
            </div>
        <div style="border-top: 1px solid black;" class="mt-1">
            Do you want to create a account? <a href="{% url 'register' %}" class="text-primary">Register</a><br>
            Do you forget password? <a href="{% url 'password-reset' %}" class="text-primary">Reset password</a>
        </div>
    </form>
</div>

{% endblock %}