{% extends 'base_search.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Producers
{% endblock %}

{% block search %}
    {{ filter.form|crispy }}
{% endblock %}

{% block resoults %}
    <div>
        <table class="table table-sm">
            <tbody>
            <tr>
                <th>Producer Name</th>
                <th>Contact person</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Rabat</th>
                <th>Delivery time(days)</th>
            </tr>
                {% for producer in filter.qs %}
                    <tr onclick="window.location='{% url 'producer-detail' producer.producer_id %}';" style="cursor:pointer;">
                        <td>{{ producer.producer_name }}</td>
                        <td>{{ producer.contact_person }}</td>
                        <td>{{ producer.formatted_phone_number }}</td>
                        <td>{{ producer.email }}</td>
                        <td>{{ producer.rabat }}%</td>
                        <td>{{ producer.delivery_time_days }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block right %}
    <div class="p-2" >
        <a style="text-decoration: none;" href="{% url 'producer-create' %}"><button type="button" class="btn-lg btn-block btn-primary">Add Producer</button></a>
    </div>
{% endblock %}
