{% extends 'base.html' %}

{% block title %}
    Tool({{ object.tool_id }}) - Delete
{% endblock %}

{% block content %}
<div class="container border w-75 p-3 bg-light">
    <div class="content-section">
         <form method="POST">
             {% csrf_token %}
            <div class="text-dark text-center">
                <h3>Are you sure you want to delete Tool({{ object.tool_id }}) Fi:{{ object.diameter_mm }} {{ object.material }}?</h3>
                <div class="form-group">
                     <button class="btn btn-danger" type="submit">Delete</button>
                     <a href="{% url 'tool-detail' object.tool_id %}"><button type="button" class="btn btn-info ml-2">Cancel</button></a>
                </div>
            </div>
         </form>
    </div>
</div>

{% endblock %}

{% block right %}
    <div class="p-2">
        <a style="text-decoration: none;" href="{% url 'tool-create' %}"><button type="button" class="btn-lg btn-block btn-primary">Add tool</button></a>
        <a style="text-decoration: none;" href="{% url 'tool-detail' object.tool_id %}"><button type="button" class="btn-lg btn-block btn-info  mt-2">Detail tool</button></a>
        <a style="text-decoration: none;" href="{% url 'tool-update' object.tool_id %}"><button type="button" class="btn-lg btn-block btn-info  mt-2">Update tool</button></a>
    </div>
{% endblock %}
