{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
      Update Employee-({{ object.first_name }} {{ object.last_name }})
{% endblock %}

{% block content %}

<div class="container border w-50 p-3 bg-light">
    <div class="content-section"">
        <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Update Employee</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Update</button>
                    <button class="btn btn-danger" type="reset">Reset</button>
                </div>
        </form>
    </div>


</div>

{% endblock %}

{% block right %}
<div class="p-2">
    <a style="text-decoration: none;" href="{% url 'employee-create' %}"><button type="button" class="btn-lg btn-block btn-primary">Add Employee</button></a>
    <a style="text-decoration: none;" href="{% url 'employee-detail' object.uuid_employee %}"><button type="button" class="btn-lg btn-block btn-info  mt-2">Detail Employee</button></a>
    <a style="text-decoration: none;" href="{% url 'employee-delete' object.uuid_employee %}"><button type="button" class="btn-lg btn-block btn-danger  mt-2">Delete Employee</button></a>
</div>
{% endblock %}
