{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
      Update Producer({{ object.producer_name }})
{% endblock %}

{% block content %}
    <div class="container border w-50 p-3 bg-light">
        <div class="content-section">
            <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Update Producer</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Update</button>
                        <button class="btn btn-danger" type="reset">Reset</button>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block right %}
    <div class="p-2">
        <a style="text-decoration: none;" href="{% url 'producer-create' %}"><button type="button" class="btn-lg btn-block btn-primary">Add Producer</button></a>
        <a style="text-decoration: none;" href="{% url 'producer-detail' object.producer_id %}"><button type="button" class="btn-lg btn-block btn-info  mt-2">Detail Producer</button></a>
        <a style="text-decoration: none;" href="{% url 'producer-delete' object.producer_id %}"><button type="button" class="btn-lg btn-block btn-danger  mt-2">Delete Producer</button></a>
    </div>
{% endblock %}
