{% extends 'base.html' %}

{% block content %}
<div>
    <p>
      <button class="btn btn-info btn-lg btn-block" type="button" data-toggle="collapse" data-target="#search">
        Search
      </button>
    </p>
    <div class="collapse" id="search">
      <div class="card card-body mb-2">
          <form method="GET" class="conteiner">
                {% block search %}
                {% endblock %}
            <button type="submit" class="btn btn-success btn-lg btn-block">Search</button>
            <button type="reset" class="btn btn-danger btn-lg btn-block">Reset</button>
            </form>
      </div>
    </div>
	<div class="results" >
		{% block resoults %}
		{% endblock %}
	</div>
</div>
{% endblock %}
