{% extends 'base.html' %}

{% block title %}
    Project-({{ object.project_name }}) - detail
{% endblock %}

{% block content %}
    <div class="container border w-75 p-3" style="background-color: lightgray;">
        <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Parameter</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
            <tbody>
               <tr>
                <td><b>Project ID</b></td>
                <td><i>{{ object.project_id }}</i><br></td>
               </tr>
               <tr>
                <td><b><b>Project Name</b></b></td>
                <td><i>{{ object.project_name }}</i><br></td>
               </tr>
               <tr>
                <td><b>Time for project(hr)</b></td>
                <td><i>{{ object.time_for_project_hours }}</i><br></td>
               </tr>
               <tr>
                <td><b>Profit</b></td>
                <td><i>{{ object.profit }} zł</i><br></td>
               </tr>
                <tr>
                <td><b>Tools</b></td>
                <td><i>{{ object.number_of_tools }}</i><br></td>
               </tr>
                <tr>
                <td><b>Employees</b></td>
                <td><i>{{ object.number_of_projects }}</i><br></td>
               </tr>
            </tbody>
        </table>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th scope="col">Tools</th>
                        </tr>
                      </thead>
                        <tbody>
                               {% for tool in tools %}
                                    <tr>
                                        <td onclick="window.location='{% url 'tool-detail' tool.tool_id %}';"  style="cursor:pointer;">
                                            {{ tool.full_description }}
                                        </td>
                                    </tr>
                               {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table table-sm">
                          <thead>
                            <tr>
                              <th scope="col">Employees</th>
                            </tr>
                          </thead>
                        <tbody>
                               {% for employee in employees %}
                                    <tr>
                                        <td onclick="window.location='{% url 'employee-detail' employee.uuid_employee %}';"  style="cursor:pointer;">
                                            {{ employee.full_name }}
                                        </td>
                                    </tr>
                               {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right %}
    <div class="p-2">
        <a style="text-decoration: none;" href="{% url 'project-create' %}"><button type="button" class="btn-lg btn-block btn-primary">Add Project</button></a>
        <a style="text-decoration: none;" href="{% url 'project-update' object.project_id %}"><button type="button" class="btn-lg btn-block btn-info  mt-2">Update Project</button></a>
        <a style="text-decoration: none;" href="{% url 'project-delete' object.project_id %}"><button type="button" class="btn-lg btn-block btn-danger  mt-2">Delete Project</button></a>
    </div>
{% endblock %}
