{% extends 'base_search.html' %}
{% load crispy_forms_tags %}
{% load cache %}

{% block title %}
    Projects
{% endblock %}

{% block search %}
    {{ filter.form|crispy }}
{% endblock %}

{% block results %}
    {% cache 3600 projects %}
        <div>
            <table class="table table-sm">
                <tbody>
                <tr onclick="window.location='#';">
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Time for project</th>
                    <th>Profit(zł)</th>
                    <th>Tools</th>
                    <th>Employyees</th>
                </tr>
                    {% for project in filter.qs %}
                        <tr onclick="window.location='{% url 'project-detail' project.project_id %}';" style="cursor:pointer;">
                            <td>{{ project.project_id }}</td>
                            <td>{{ project.project_name }}</td>
                            <td>{{ project.time_for_project_hours }}(hr)</td>
                            <td>{{ project.profit }}</td>
                            <td>{{ project.number_of_tools }}</td>
                            <td>{{ project.number_of_projects }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endcache %}
{% endblock %}

{% block right %}
    <div class="p-2" >
        <a style="text-decoration: none;" href="{% url 'project-create' %}"><button type="button" class="btn-lg btn-block btn-primary">Add Project</button></a>
    </div>
{% endblock %}
